/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

:root {
    --site-black: black;
    --site-dark: #080b12;
    --site-primary: #141922;
    --site-active-link: #adff2f;
    --site-d-gray: #282828;
    --site-gray: #5a5a5a;
    --site-l-gray: #a3a3a3;
    --site-ul-gray: #c1c1c1;
    --site-white: white;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 11px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--site-gray);
}

/* #endregion common */

/* #region utility */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
}

.col-2 {
    width: calc((100% / 12) * 2);
}

[class^="col"] {
    padding-left: .5rem;
    padding-right: .5rem;
}

.d-none {
    display: none;
}

/* #endregion utility */

/* #region sidebar */
#sidebar {
    background: var(--site-black);
    width: 230px;
    height: calc(100vh - 90px);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;

    & .logo {
        width: 130px;
        margin-bottom: 30px;
    }

    & .logo-small {
        display: none;
    }

    & .menu-home {
        margin-bottom: 20px;

        & li {
            & .left-highlight {
                display: none;
            }
        }

        & a {
            display: flex;
            align-items: center;
            padding: 6px 0;

            & img {
                width: 22px;
                margin-right: 10px;
                filter: opacity(.5);
            }
        }
    }

    & .playlist {
        & h4.title {
            color: var(--site-white);
            text-transform: uppercase;
        }

        & .add-playlist a {
            display: flex;
            align-items: center;

            & .add-playlist-img {
                width: 36px;
                height: 36px;
                background: var(--site-l-gray);
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--site-black);
                font-size: 38px;
                font-weight: 600;
            }
        }

        & li {
            padding: 10px 0;
            color: var(--site-gray);
        }
    }

    & .app-install {
        margin-top: auto;

        & .download a {
            display: flex;
            align-items: center;
            margin-bottom: 14px;

            & img {
                filter: opacity(.5);
                width: 18px;
                margin-right: 10px;
            }
        }

        & hr {
            border-color: var(--site-gray);
            margin-bottom: 14px;
        }

        & .profile {
            display: flex;
            align-items: center;
            color: var(--site-white);

            & .profile-img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: var(--site-l-gray);
                margin-right: 10px;

                & img {
                    object-fit: cover;
                }
            }
        }
    }

    & a:hover,
    .app-install.download a:hover {
        color: var(--site-white);

        & img {
            filter: opacity(1);
        }

        & .add-playlist-img {
            background: var(--site-white);
        }
    }

    & li.active {
        position: relative;
        & a {
            color: var(--site-white);

            & img {
                filter: opacity(1);
            }

            & .add-playlist-img {
                background: var(--site-white);
            }
        }

        & .left-highlight {
            display: block;
            position: absolute;
            top: 0;
            left: -20px;
            width: 3px;
            height: 100%;
            background: var(--site-active-link);
        }
    }
}

/* #endregion sidebar */

/* #region header */
#header,
#main {
    width: calc(100% - 230px);
    top: 0;
    right: 0;
}

#header {
    background: rgba(0, 0, 0, 50%);
    height: 90px;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & .btn {
        border: 1px solid var(--site-white);
        border-radius: 30px;
        padding: 15px 40px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: var(--site-white);
        margin-right: 20px;
        transition: scale .5s;
    }

    & .btn:hover {
        scale: 1.1;
    }
}

/* #endregion header */

/* #region main */
body {
    position: relative;
    height: 100vh;
    margin-right: 1rem;
}

#main {
    background: var(--site-primary);
    min-height: calc(100% - 90px);
    position: absolute;
    padding: 7rem 1rem;
    color: var(--site-white);

    & nav {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;

        & ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;

            & li {
                margin-bottom: 12px;
            }

            & li a {
                color: var(--site-l-gray);

                & hr {
                    border-color: transparent;
                    width: 100%;
                    transition: width .5s;
                }

                & hr.active {
                    display: block;
                    border-color: var(--site-active-link);
                    width: 30px;
                    margin: 5px auto;
                }
            }

            & li a:hover {
                color: var(--site-white);

                & hr {
                    display: block;
                    border-color: var(--site-active-link);
                    width: 30px;
                    margin: 5px auto;
                }
            }
        }
    }

    /* nav */

    & section {
        & a {
            color: var(--site-white);
        }

        & h2 {
            margin-top: 28px;
        }

        & h4 {
            margin-top: 12px;
            color: var(--site-gray);
        }

        & .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 12px;
            text-align: center;

            & .card-img {
                position: relative;
                aspect-ratio: 1;
                margin-bottom: 20px;

                & .play {
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    aspect-ratio: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 50%);
                    transition: all 1s;

                    & i {
                        scale: 0;
                        font-size: 100px;
                        transition: all 1s;
                    }
                }
            }
        }

        & .card:hover {
            & .play {
                opacity: 1;

                & i {
                    scale: 1;
                }
            }
        }
    }
}

/* #endregion main */

/* #region footer */
#footer {
    background: var(--site-d-gray);
    color: var(--site-white);
    width: 100%;
    height: 90px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;

    & .playing {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 12px;

        & img {
            width: 36px;
            aspect-ratio: 1;
        }

        .song-info {
            & h5 {
                color: var(--site-l-gray);
                margin-right: 30px;
            }

            & h5:hover {
                color: var(--site-white);
                text-decoration: underline;
            }
        }

        .icons {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;

            & i {
                color: var(--site-gray);
            }

            & i:hover {
                color: var(--site-white);
            }
        }
    }

    & .player {
        flex: 2;

        & .player-console {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-bottom: 10px;

            & .fa-circle-play {
                font-size: 30px;
                margin: 0 10px;
                color: var(--site-white);
                transition: scale .5s;
            }

            & .fa-circle-play:hover {
                scale: 1.2;
            }
        }

        & .player-time {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            & a {
                width: 40%;

                & .bar {
                    position: relative;
                    width: 100%;
                    height: 4px;
                    border-radius: 4px;
                    background: var(--site-gray);

                    & .progression {
                        position: absolute;
                        width: 20%;
                        height: 100%;
                        border-radius: 4px;
                        background: var(--site-l-gray);
                    }
                }
            }

            & .progression-bar:hover {
                & .progression {
                    position: relative;
                    background: var(--site-active-link);

                    & .circle {
                        width: 10px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background: var(--site-white);
                        box-shadow: 0px 2px 10px var(--site-black);
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(0, -50%);
                    }
                }
            }
        }
    }

    & .video-sound {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;

        & a {
            width: 40%;

            & .bar {
                position: relative;
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background: var(--site-gray);

                & .progression {
                    position: absolute;
                    width: 20%;
                    height: 100%;
                    border-radius: 4px;
                    background: var(--site-l-gray);
                }
            }
        }

        & .progression-bar:hover {
            & .progression {
                position: relative;
                background: var(--site-active-link);

                & .circle {
                    width: 10px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background: var(--site-white);
                    box-shadow: 0px 2px 10px var(--site-black);
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0, -50%);
                }
            }
        }
    }

}

/* #endregion footer */

/* #region media query md */
@media screen and (max-width: 878px) {
    #main {
        .col-3-md {
            width: 25%;
        }
    }

    #footer {
        & .player {
            & .player-time {
                & a {
                    width: 100%;
                }
            }
        }

        & .playing,
        .player,
        .video-sound {
            flex: 1;
        }
    }


}

/* #endregion media query md */

/* #region media query s */
@media screen and (max-width: 639px) {
    #main {
        .col-6-s {
            width: 50%;
        }
    }
}

/* #endregion media query s */

/* #region media query xs */
@media screen and (max-width: 552px) {
    #sidebar {
        width: 50px;
        padding: 10px;
        align-items: center;

        & .logo {
            display: none;
        }

        & .logo-small {
            display: block;
            width: 30px;
            margin-bottom: 16px;
        }

        & .menu-home li a img {
            margin-right: 0;
        }

        & .menu-home li a h4 {
            display: none;
        }

        & .playlist,
        hr {
            display: none;
        }

        & .app-install {
            & .download {
                margin-bottom: 20px;
            }

            & .download h4,
            .profile h3 {
                display: none;
            }

            & .download .download-img,
            .profile .profile-img {
                margin: 0 auto;
            }
        }
    }

    #header,
    #main {
        width: calc(100% - 50px);
    }
}

/* #endregion media query xs */

/* #region debug */
.debug .menu-home {
    background: rgba(128, 128, 128, 0.5);
    height: 95px;
    margin-bottom: 2rem;
}

.debug .playlist {
    background: rgba(128, 128, 128, 0.5);
    height: 310px;
}

.debug .app-install {
    background: rgba(128, 128, 128, 0.5);
    width: 100%;
    height: 70px;
}

.debug nav {
    background: #04ff0079;
    height: 65px;
}

.debug section {
    background: #b1b2b583;
    height: 370px;
}

.debug .card {
    background: #ea00ff81;
    height: 270px;
}

.debug .playing,
.debug .video-sound {
    background: #b1b2b583;
    width: 220px;
    height: 100%;
}

.debug .player {
    background: #b1b2b583;
    width: 520px;
    height: 100%;
}

/* #endregion debug */